VARIABLES, DATA TYPES & OPERATORS

1.Take 5 numbers → print mean, min, max

In [5]:
number=[]
total=0
for i in range(5):
    num=int(input(f"enter the number {i+1}"))
    number.append(num)
for num in number:
    total=total+num
min=number[0]
max=number[0]
for num in number:
    if num<min:
        min=num 
    if num>max:
        max=num 

print(f"the avg is {total/5}\n the minimum num is {min} \n max num is {max}")

the avg is 3.0
 the minimum num is 1
 max num is 5

2. Convert Celsius to Fahrenheit

In [6]:
#  formula to convert the temp from celsius to fahrenheit is 
# F=(C*9/5)+32

c=float(input("enter the temp in celsius : "))
F=(c*9/5)+32

print(f"the temp in farenheit is {F}")

the temp in farenheit is 118.4

3. Input salary → cut 10% tax → print final salary

In [7]:
salary=float(input("enter the salary : "))
final_salary=salary-salary/10
print(f"the final salary after cutdown is {final_salary}")

the final salary after cutdown is 9000.0

4. Input 3 subject marks → percentage + pass/fail

In [8]:
n=int(input("enter the number subjects : "))
mark=[]
for i in range(n):
    marks=float(input("Enter the marks of subjects "))
    mark.append(marks)
total=sum(mark)
percentage=(total/(n*100))*100
print(percentage)
if(percentage>40):
    print("pass")
else:print("fail")

100.0
pass

5. Swap two numbers without using a third variable

In [13]:
a=int(input("enter first number : "))
b=int(input("enter second number : "))
a=a+b
b=a-b
a=a-b
print(f"a:{a} , b:{b}")

a:2 , b:1